<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/create-match" routerLinkActive="active">Scores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/players" routerLinkActive="active">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
      </li>

    </ul>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<p>(C) Copyright 2019-2020 Florian Gagnon</p>
