<div class="form-group" id="search-component">

  <input class="form-control"
    #searchBox id="search-box"
    (input)="search(searchBox.value)"
    (keyup.arrowup)="selectPrevious()"
    (keyup.arrowdown)="selectNext()"
    (keyup.enter)="select()"
    [formControl]="player"
    type="text"
    placeholder="{{label}}"/>

  <ul class="search-result">
    <li *ngFor="let player of players$ | async" (click)="selectPlayer(player)">
      <span *ngIf="isSelected(player)" class="active">{{player.name}}</span>
      <span *ngIf="!isSelected(player)">{{player.name}}</span>
    </li>
  </ul>

</div>